.page__suggestion-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

@media screen and (min-width: 740px) {
  .page__suggestion-container {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 120px 0 0;
  }
}