.page__items-container {
  min-width: 320px;
  width: 100%;
  height: 100%;
  margin: 72px 0 0 0;
  background-color: #f9faff;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding: 32px 32px 44px 32px;
  box-sizing: border-box;
}

@media screen and (min-width: 740px) {
  .page__items-container {
    padding: 168px 96px 80px;
    align-self: flex-end;
    max-width: 560px;
    margin: 0;
    border-radius: 0;
  }
}
